<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
      alt=""
    >
  </div>
  <div class="big-card__title">
   <h1> <a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a>
        O Angular 13 é a versão mais recente do framework
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nemo labore unde sint, nisi ea, temporibus ullam cupiditate recusandae suscipit distinctio? Adipisci eius pariatur eveniet saepe accusantium et consequatur deserunt!
      </a>
    </p>
  </div>
</div>
